:root {
  font-family: 'Courier New', monospace;
  line-height: 1.2;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url('../bg.jpg');
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.formContainer {
  margin: 50px auto;
  padding: 50px;
  background-color: #efefef;
  color: #242424;
  width: 40vw;
  border-radius: 20px;
  text-align: center;
}

.loginForm, .editForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}

.user, .pass {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.submitBtn {
  margin: 50px;
  height: 60px;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background-color: #303030;
}

.formError {
  margin: 0 auto;
  color: #ff0000;
}

hr {
  margin: 20px 0;
}

.todoTitle {
  font-size: 20px;
  font-weight: 800;
}

.createForm, .searchFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addTodo {
  width: 15vw;
}

.todo-item, .todo-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.todo-item {
  background-color: rgba(159, 159, 159, 0.31);
}

.todo-item:hover {
  background-color: rgba(159, 159, 159, 0.71);
}

.todo-completed {
  background-color: #357a38;
}

.todo-completed:hover {
  background-color: #2e6930;
}

.content {
  text-align: left;
}

p {
  margin: 20px 0;
}

button, input, select {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 100%;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  margin: 5px;
  text-align: center;
}

button:hover {
  border-color: #ffffff;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  .loginForm, .editForm {
    width: 90%;
    margin: auto;
  }

  button, input, select, .addTodo {
    font-size: 70%;
  }

  .searchFilter {
    flex-direction: column;
  }

  .editBtn button {
    width: 90%;
    padding: 10px;
  }
}
