:root {
  font-family: 'Courier New', monospace;
  line-height: 1.2;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url('../bg.jpeg');
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.logoutBtn{
  position: absolute;
  top: .5%;
  left: .5%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.formContainer {
  margin: 50px auto;
  padding: 50px;
  background-color: #121212;
  color: #efefef;
  width: 50vw;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #8b8b8b;
}

.loginForm, .editForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 20px auto;
}

.editForm{
  margin: 0px auto auto 0px;
}

.editBtn {
  display: flex;
  flex-direction: column;
}

.user, .pass {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.submitBtn {
  margin: 50px;
  height: 60px;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background-color: #303030;
}

.formError {
  margin: 0 auto;
  color: #ff0000;
}

hr {
  margin: 20px 0;
}

.todoTitle {
  font-size: 20px;
  font-weight: 800;
}

.createForm, .searchFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addTodo {
  width: 15vw;
}

.todo-item, .todo-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: 1px solid #8b8b8b;
}

.todo-item {
  background-color: rgba(159, 159, 159, 0.31);
}

.todo-completed {
  background-color: #143300;
}

.deleteBtn, .completeBtn {
  transition: background-color .5s ease;
  background-color: #121212;
}

.completeBtn:hover {
  background-color: #2e6930;
}

.deleteBtn:hover {
  background-color: #f45d5d;
}

.editForm input{
  background-color: #121212;
}

.content {
  text-align: left;
  word-wrap: break-word;
  width: 60%;
}

p {
  margin: 20px 0;
}

button, input, select {
  border-radius: 10px;
  border: 1px solid #8b8b8b;
  padding: 10px 20px;
  font-size: 100%;
  background-color: #3f3f3f;
  transition: border-color 0.25s;
  margin: 5px;
  text-align: center;
}

button:hover {
  border-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content{
   font-size: 70% 
  }

  .editForm {
    width: 60%;
    margin: auto;
  }

  .loginForm {
    width: 100%;
    margin: auto;
  }

  button, input, select, .addTodo {
    font-size: 70%;
  }

  .searchFilter {
    flex-direction: column;
  }

  .editBtn button {
    width: 90%;
    padding: 10px;
  }
}
